*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
}

.container{
    display: flex;
    flex: 1;
}

.side-bar{
    background-color: black;
    width: 250px;
    padding: 10px;
}

.logo img{
    width: 125px;
    margin: 5px;
}

.nav-contents img{
    width: 25px;
}

.playlists img{
    width: 25px;
}
.install img{
    width: 25px;
}
li{
    list-style-type: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 5px;
}
li label{
    font-size: 16px;
    padding-left: 20px;
}

li:hover{
    background-color: rgb(37, 37, 37);
}

.nav-contents{
    margin: 20px 0;
}

.playlists{
    margin: 20px 0;
}

.recom{
    margin: 20px 0;
}

.main_content{
    flex: 1;
    padding: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header img{
    width: 7rem;
}

.album_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px 0;
}

.album-card{
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.album-card label{
    padding: 20px;
}


.artists{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    padding-top:20px ;
}

.artist_cards{
    background-color: rgb(51, 51, 51);
    padding: 15px;
    border-radius: 5px;
    width: 175px;
    height: 225px;
}

.artist_cards img{
    width: 145px;
}

footer{
    height: 90px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #282828;

}
.player-left{
    display: flex;
    align-items: center;
}


#heart{
    width: 25px;
    margin: 10px;
}

#album_cover{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.player-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.player-center img{
    width: 600px;
}

.player-right{
    display: flex;
    align-items: center;
}

.player-right img{
    width: 300px;
}

.install{
    margin-top: 200px;
}

@media (max-width: 700px) {
    body{
        color: red;
    }
}

@media (orientation: landscape) and (max-width: 600px) {
    body{
        color: blue;
    }
}

@media (orientation: portrait) {
    body{
        color: greenyellow;
    }
}
 

.toggle-button{
    position: absolute;
    top: .75rem;
    left: 10rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button{
        display: flex;
    }
    .nav-contents{
        display: none;
        width: 100%;
    }
    .playlists{
        display: none;
        width: 100%;
    }
    .recom{
        display: none;
        width: 100%;
    }

    .side-bar{
        flex-direction: column;
        align-items: flex-start;
    }

    .side-bar ul{
        width: 100%;
        flex-direction: column;
    }


    .side-bar li{
        text-align: center;
    }

    .side-bar li{
        padding: .5rem 1rem;
    }

    .nav-contents.active{
        display: flex;
    }
    .playlists.active{
        display: flex;
    }
    .recom.active{
        display: flex;
    }
}